.navbar {
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

.navbar-left {
  flex: 1; 
}

.navbar-logo {
  height: 26px;
}

.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
  background: #A9C9CE;   
  border-radius: 999px;
  padding: 6px 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #111;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 8px;
  border-radius: 999px;
}

.nav-links a:hover {
  background: #78a5a7;
}

.navbar-right {
  flex: 1; 
  display: flex;
  justify-content: flex-end;
}

.register-btn {
  text-decoration: none;
  color: #111;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 999px;
  background: #A9C9CE;
}

.register-btn:hover {
  background: #78a5a7;
}
